{% extends 'base.html' %}

{% block title %}FLIP Outlet{% endblock %}

{% block content %}
<section>
    {% for item in items %}
        {% if item.is_available == False %}
            <p>funsionou</p>
        {% elif item.is_available %}
        <div class="grid-index">   
            <div class="index-item">
                <a href="{{item.id}}">
                <img  src="{{item.image.url}}" class="img-layout">
                </a>
                <a href="{{item.id}}" class="titulo-item">
                    {{item.name}}
                </a>
                <br>
                <span class="ItemPrice">R$ {{item.price}}</span>
            </div>
        </div>    
        {% endif %}
    {% endfor %}
</section>
{% endblock %}